*{
  box-sizing:border-box;
}
html{
  min-height:100%;
}
body{
  height:100%;
}
#root{
  height:100%;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.advanceNum{
  font-size:0.56rem;
  color:#C6AB92;
  padding:0 20px;
  line-height:42px;
  margin-bottom:0.33rem;
}
.advanceNum img{
  width:0.93rem;
}
.advance{
  flex:1
}
.TransactionProcess{
  background-color:fff;
  text-align:center;
  padding:1.3rem 1.3rem;
}
.TransactionProcessStep{
  width:70%;
  margin:0 auto;
  display:flex;
  margin-top:1.4rem;
  justify-content:space-between;
  flex-direction:row;
}
.TransactionProcessI{

}
.CooperativePartner{
  background-color:#FAFAFA;
  text-align:center;
  padding:1.3rem 1.3rem;
}
.CooperativePartnerStep{
  width:70%;
  margin:0 auto;
  display:flex;
  margin-top:1.4rem;
  justify-content:space-between;
  flex-direction:row;
  flex-wrap:wrap;
}

.recommendSplitUp{
  flex:1;
  //flex-grow:1;
  text-align:center;
}
.recommendSplitDown{
  flex:2;
  //flex-grow:1;
  text-align:center;
}
.percent{
  font-size:0.3rem;
}
.arrow{
  position:relative;
}
.arrow img{
  position:absolute;
  top:43%;
  left:50%;
  transform:translate(-50%,-50%)
}
.headerTag{
  padding: 3px 15px;
  margin: 0 20px;
  color:#3D3A35;
  &:hover{
    color:#C6AB92;
  }
}
.headerTagIndex{
  padding: 3px 15px;
  margin: 0 20px;
  color:#fff;
  &:hover{
    color:#C6AB92;
  }
}
.indexSelected{
  color:#C6AB92;
  height: 70px;
  line-height: 66px;
  border-bottom:3px solid #C6AB92;
  text-decoration:'none';
}
.itemCenter{
  margin:0 1rem;
}