.html_text_img img{
    width:100%!important;
    height:auto;
}
// 按钮
.appointSuccessModule{
    background-color:#c6ab92;
    text-align:center;
    width:5.45rem;
    height:0.4rem;
    line-height:0.4rem;
    color:#fff;
    margin:0 auto;
    cursor:pointer;
}
.appointSuccess{
    width:7.4rem;
    height:3.56rem;
    text-align:center!important;
    .ant-modal-content{
        height:auto!important;
    }
}