.footer{
  background:#3D3A35;
  height:3.77rem;
  text-align:left;
}
.footerItem{
  display:flex;
  width:80%;
  height:3.03rem;
  align-items:center;
  margin:0 auto;
  
}
.footerImg{
  border-radius:50%;
  width:0.9rem;
  height:0.9rem;
  align-self:center;
  flex-grow:0;
  flex-shrink:0;
  margin-right:20px;
}
.minwen{
  color:#959595;
  font-size:0.14rem;
  border-top:1px solid rgba(80,80,80,1);
  padding-left:10%;
  padding-top:10px;
}
.footerLineMargin{
    margin-right:10px;
}