.headerMarginBottom{
    box-shadow:0 1px 2px #E4D4C6;
}
.ant-modal{
    width:7.1rem!important;
    
}
.ant-modal-content{
    height:8rem!important;
}
.ant-modal-body{
    padding:0 0.82rem;
    padding-top:0.71rem;
}
.ant-modal-header{
    border:none;
}
.ant-modal-footer{
    text-align:center;
    border:none;
    padding:0.37rem 0.82rem;
    padding-top:1rem;
}
.loginSubmitNo{
    background-color:#BDBDBD;
    border:none;
    // height:0.82rem;
    // line-height:0.82rem;
}
.loginSubmitYes{
    background-color:#C6AB92;
    border:none;
    &:focus{
        background-color:#C6AB92;
        color:#fff;
    }
    &:hover{
        background-color:#C6AB92;
    }
    // height:0.82rem;
    // line-height:0.82rem;
}
.inputFocus{
    // height:0.9rem;
    // line-height:0.9rem;
    &:focus{
        border:1px solid #C6AB92;
        box-shadow : none;
    }
    &:blur{
         border:1px solid #d9d9d9;
    }
    &:hover{
        border:1px solid #C6AB92;
    }
    &::after{
       box-shadow : none;
    }
}
.ant-dropdown-link{
    color:#3D3A35;
    margin-left:66px;
    position:relative;
    &:hover{
        color:#C6AB92;
    }
}
.ant-dropdown{
    min-width:110px!important;
}
.ant-dropdown-menu{
    text-align:center;
}
.ant-dropdown-menu-item{
    &:hover{
        background-color:rgba(198,171,146,0.2);
        color:#C6AB92;
    }
}
.ant-dropdown-menu-item{
    &>a:hover{
        background-color:rgba(198,171,146,0.2);
        color:#C6AB92;
    }
}
.avater{
    width: 0.56rem;
    height: 0.56rem;
    margin-right:20px;
    position:absolute;
    top:-11px;
    left:-0.7rem;
}
