.headerMarginBottom{
    box-shadow:0 3px 5px #E4D4C6;
}
.ant-modal{
    width:7.1rem;
}
.ant-modal-header{
    border:none;
}
.ant-modal-footer{
    text-align:center;
    border:none;
}
.loginSubmitNo{
    background-color:#BDBDBD;
    border:none;
}
.loginSubmitYes{
    background-color:#C6AB92;
    border:none;
}
.inputFocus{
    &:focus{
        border:1px solid #C6AB92;
    }
}
.ant-dropdown-link{
    color:#3D3A35
}
