.appointRight{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.immediateReservation{
    padding: 8px 24px; 
    background: #C6AB92; 
    border-radius: 0.44rem;
    font-size: 0.24rem;
    color: #fff;
    cursor: pointer;
    height:auto;
    &:hover{
           background-color:#B08F70;
           color:#fff;
           border:none;
       }
}