.appointRight{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.immediateReservation{
    padding: 8px 24px; 
    background: #C6AB92; 
    border-radius: 0.44rem;
    font-size: 0.24rem;
    color: #fff;
    cursor: pointer;
    height:auto;
    border:none;
    &:hover{
           background-color:#B08F70;
           color:#fff;
           border:none;
    }
    &::after{
        border:none;
        background-color:#c6ab92;
    }
    &:focus{
        color:#fff;
        background-color:#C6AB92; 
    }
}