.rateTable{
    display:flex;
}
.investItemTitle{
    margin-bottom: 20px;
    color:#3D3A35;
    font-size:0.3rem;
    font-weight:bold;
    cursor:pointer;
    &:hover{
        color:#C6AB92;
    }
}